In [1]:
#from rackuten_project_lib import *
import shutil
import pandas as pd
from tqdm import tqdm
import os

In [2]:
images_srce =                 'D:/DataScienTest_WorkSpace/WS/data/images/all/image_train/' 
images_target =               './images_samples/dataset_samples/' 
df_dir =                     './demo_Inputs/data/'

Xtrain_demo=            'Xtrain_samples.pkl'

In [6]:
df_demo_sample  = pd.read_pickle(df_dir + Xtrain_demo )
df_demo_sample['imagePath'] = images_srce + df_demo_sample['image_name']
display(df_demo_sample.head())
display(df_demo_sample.shape)

,designation,description,text,prdtypecode_org,prdtypecode,productid,imageid,image_name,imagePath
64010,Resolving Stress In Your Marriage : How To Ide...,NaN,resolving stress marriage identify solve twelv...,10,0,53291144,539067330,image_539067330_product_53291144.jpg,D:/DataScienTest_WorkSpace/WS/data/images/all/...
3338,From Times Square To Timbuktu: The Post-Christ...,NaN,times square timbuktu post christian west meet...,10,0,196547987,946518577,image_946518577_product_196547987.jpg,D:/DataScienTest_WorkSpace/WS/data/images/all/...
30474,Transnationalism In Iranian Political Thought,During the Iranian Revolution of 1978/9 the in...,transnationalism iranian political thought rev...,10,0,1798131351,1151810891,image_1151810891_product_1798131351.jpg,D:/DataScienTest_WorkSpace/WS/data/images/all/...
16974,Jeanne D'arc Opera En Quatre Actes Et Six Tabl...,Vendu en l'état - Exemplaire de travail.,jeanne arc opera quatre actes six tableaux par...,10,0,390987066,1003160003,image_1003160003_product_390987066.jpg,D:/DataScienTest_WorkSpace/WS/data/images/all/...
8672,Les Maladies De La Femmes,NaN,maladies femmes,10,0,6408880,476582358,image_476582358_product_6408880.jpg,D:/DataScienTest_WorkSpace/WS/data/images/all/...

(540, 9)

In [7]:
for img in tqdm(df_demo_sample['imagePath']):
    os.path.basename(img)
    #print(img) 
    shutil.copy(img, images_target)

100%|██████████| 540/540 [00:00<00:00, 822.23it/s]